name: CI Pipeline
on: 
 push:
  branches: ["main"]
jobs:
 build:
  runs-on: ubuntu-latest
  steps:
  - name: Checkout code
    uses: actions/checkout@v4
  - name: Set up Python
    uses: actions/setup-python@v5
    with: 
     python-version: "3.10"
  - name: Install dependencies
    run: |
     python -m pip install --upgrade pip
     pip install -r requirements.txt 
  - name: Run app test
    run: |
     python -c "import app; print('App import successfull')"
  - name: Login to Docker Hub
    uses: docker/login-action@v3
    with:
     username: ${{ secrets.DOCKERHUB_USER }}
     password: ${{ secrets.DOCKERHUB_TOKEN }}
  - name: Build Docker Image
    run: |
     docker build -t ${{ secrets.DOCKERHUB_USER }}/session13-app:latest .
  - name: Push Docekr image
    run: |
     docker push ${{ secrets.DOCKERHUB_USER }}/session13-app:latest
