name: CI/CD Pipeline
on:
 push:
  branches: [ main ]
env:
 DOCKER_IMAGE: ${{ secrets.DOCKERHUB_USER }}/sesion13-app
 KUBE_NAMESPACE: session13
jobs: 
 build-and-push: 
  name: Build & Push Docker Image
  runs-on: ubuntu-latest
  steps: 
  - name: Checkout code
    uses: actions/checkout@v4
  - name: Set up Python
    uses: actions/setup-python@v5
    with:
     python-version: '3.10'
  - name: Install dependencies
    run: |
     python -m pip install --upgrade pip
     pip install -r requirements.txt
  - name: Run app test
    run: python -c "import app; print('App testSuccessfull')"
  - name: Log in to Docker Hub
    uses: docker/login-action@v3
    with:
     username: ${{ secrets.DOCKERHUB_USER }}
     password: ${{ secrets.DOCKERHUB_TOKEN }}
  - name: Build and Push Docker Image
    uses: docker/build-push-action/@v5
    with:
     context: .
     push: true
     tags: ${{ secrets.DOCKERHUB_USER }}/session13-app:${{ github.sha }}
